
<div class="right_content">                    


   <center> <h2>LIST OF EMPLOYEES</h2> </center>
                    
                    
<table id="rounded-corner" class="tablesorter" summary="2007 Major IT Companies' Profit">
    <thead>
    	<tr><th></th>
        	<th scope="col" class="rounded">Employee Id</th>
            <th scope="col" class="rounded" >Name</th>
           
            <th scope="col" class="rounded" >Email ID<th>
            <th scope="col" class="rounded">Employee Type</th>
            <th scope="col" class="rounded">Edit</th>
            <th scope="col" class="rounded-q4">Delete</th>
        </tr>
    </thead>
     <!--   <tfoot>
    	<tr>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>-->
    
    <tbody>
        <% count=0%>
        <% for each_id in @list_of_emp %>
    	<tr>
            <td><%= radio_button("user", "id", :value=>each_id.id) %> </td>
        	<td><%=each_id.id%></td>
            <td colspan='2'><%=each_id.username%></td>
            <td><%=each_id.email%></td>
            <td><%=each_id.employee_type%></td>
            <td><a href="edit?id=<%=each_id.id%>"><img src="/assets/user_edit.png" alt="" title="" border="0" /></a></td>
            <td><a href="#" class="ask"><img src="/assets/trash.png" alt="" title="" border="0" /></a></td>
        </tr>
       <%end%>
    </tbody>
</table>


<%= will_paginate @list_of_emp%>

<!--<div class="pagination">
>>>>>>> f28028e668fca0f8503e94395301fec2a0439467
        <span class="disabled"> prev</span><span class="current">1</span><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>…<a href="">10</a><a href="">11</a><a href="">12</a>...<a href="">100</a><a href="">101</a><a href="">next >></a>
        </div> 
    </html>-->
    </div>
