
 <div class="right_content"> 

<% if @login.errors.any? %>
  <div class="font_color">
      <h2><%= pluralize(@login.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
   </div>
  <% end %>
 	<%= javascript_include_tag "datetimepicker" %>
	    <%= javascript_include_tag :defaults %>
           <%= form_tag( { :action => 'save' }, :multipart => true, :remote=>true, :id => 'myform' )%>

	         
	      		<%= render :partial => 'form'%>
</div>